/*----- set your AcademicHistoric css -----*/
.container__AcademicHistoric{
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.container__AcademicHistoric h2{
    margin-top: 0;
}