/*----- set your App css here -----*/
.blurDiv 
{
    display: flex;
    margin-top: 7em;
    background: inherit;
    border-radius: 3px;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.5);
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
}

.leftBox 
{
    width: 20%;
    float: left;
}

.rightBox 
{
    width: 80%;
    float: right;
}