/*----- set your SoftSkills css -----*/
.container__SoftSkills
{
    margin-bottom: 3px;
}

.container__SoftSkills h3
{
    padding-left: 1.9em;
    padding-top: 0.5em;
}

.teste{
    padding-top: 0px;
    padding-bottom: 0px;
}