/*----- set your ProfessionalHistoric css -----*/
.container__ProfessionalHistoric{
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 12px;
}

.container__ProfessionalHistoric h2{
    margin-top: 0;
}