/*----- set your Contacts css -----*/
.container__Contacts
{
    padding-top: 0.8em;
    padding-left: 2em;
    padding-right: 2em;
}

.container__Contacts 
{
    h3
    { margin-top: 0; }
}

.birthdayTextField 
{
    width: 22vh;
}